#div1{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5BB0D2;
    border-style: outset; 
    border-color: #CEF6CE;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 50px;
}
#div2{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #83B024;
    border-style: inset;
    border-color: #58A970;
    margin-bottom: 60px;
}
body{
    background: #01290D;
    text-align: center;
    background-image: url("../img/hirooo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1{
    color: #58A970;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
       -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color:black;
}

#tabla1 th {
font-size: 25px;
color:  #3A7650;
font-family: 'Lucida Sans';
font-style: normal;
}
table{
    border-collapse: collapse;    
}
 td {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    border-color: #58A970; 
}

img{
    display: inline-block;
}
th.colum2{
    color:#54A979;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: ridge;
    border-color: #58A970; 
}

input{
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}
.colum1{
    color: #83B024;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
   h2{
       color:#5A66CF;
       font-family: serif;
       font-size: 25px;
   } 

   .imagin{
          margin-top: 0px;
          margin-bottom: 60px;
          margin-right: 150px;
          margin-left: 0px;
   }
.ult_col{ 
     color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: none;
       padding-left: 30px;
}
table a:link{
    color:red;
}
table a:visited{
    color:green;
}
table a:hover{
    color:hotpink;
}
table a:active{
    color:blue;
}
li {
    font-size: 25px;
    display: inline;
    color: #ffffff;
     
}
#barra_fija{
     width: 100%;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: #CEF6CE;
background-color: #54A979;
text-align: justify;
  word-spacing: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
}