body{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 1000px;
    background: #F0FEFE;
}

#Titulo{
       display: inline;
       font-size: 45px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
       font-weight:600;
       color: #01DFD7;          
}
#Titulo:hover{
    color: #91C5C4;
}
li{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}
#sesion{
    margin-left: 600px;
}
a{
    text-decoration: none;
    color:#01DFD7;
}
a:link {
    color:#01DFD7; /*enlace no visitado*/
}
a:visited {
    color: #01DFD7 ; /*despues de hacer clik*/
}
a:active {
    color:#088A85 ; /*cuando se hace click*/
}
/*word-spacing: 10px;   espaciado entre palabras*/
.lista_1 a:hover {
     color: #088A85;
    padding: 8px;
    background-color: #D1E9E8;
    border-radius: 15px;
}
#div_1 {
    background-color: #D1E9E8;
    position: fixed;
    width: 2000px;
}
#div_1 li{
    color: #088A85;
    padding: 15px;
}
#div_1 li:hover{
    color: #000000;
    background-color: #91C5C4;
}
div.img{
    margin-top: 70px;
     width: 300px;
     height: 500px;
     float: left;
     border: solid;
     border-color: #088A85;
     border-radius: 8px;
}
div.img:hover{
 background-color: #91C5C4;
  border-radius: 8px;

}
div.img img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
div.img img{
    margin: 5px;
     width: 290px;
     height: 200px;
     border-bottom:solid;
     border-radius: 8px;
}
div.parra{
    margin: 10px 10px 10px 10px;
     width: 200px;
     height: 500px;
      font-family: monospace;
     text-align: center;
      font-size: 15px;
}
div.parra:hover{
    color: #D1E9E8;
}







