<!DOCTYPE html>
<html lang="en-es">
    <link rel="stylesheet" href="../css/CalculaCss.css">
<head>
    <title>Calculadora</title>
</head>
<body>
    <div class="calcu"> 
       <div class="pantalla"><input type="text" readonly size="18" id="d"></div>     
<hr>
<div class="botonPri">
    <p><button type="button" class="gris">Atras</button>
    <button type="button" class="gris">Borrar</button>
    <button type="button" class="gris">Limpiar</button></p>
</div>
<div class="botones">
    <p><button type="button" class="numeros">7</button>
    <button type="button" class="numeros">8</button>
    <button type="button" class="numeros">9</button>
    <button type="button" class="operadores">/</button>
    <button type="button" class="operadores">Raiz</button></p>

 <p><button type="button" class="numeros">4</button>
    <button type="button" class="numeros">5</button>
    <button type="button" class="numeros">6</button>
    <button type="button" class="operadores">*</button>
    <button type="button" class="operadores">%</button></p>

     <p><button type="button" class="numeros">1</button>
    <button type="button" class="numeros">2</button>
    <button type="button" class="numeros">3</button>
    <button type="button" class="operadores">-</button>
    <button type="button" class="operadores">1/x</button></p>

     <p><button type="button" class="numeros">0</button>
    <button type="button" class="numeros">+/-</button>
    <button type="button" class="numeros">.</button>
    <button type="button" class="operadores">+</button>
    <button type="button" class="operadores">=</button></p>

</div>
</div>
</div>
</body>
</html>