<!DOCTYPE html>
    <html lang="en-es">
        <head>
            <title>Javascript</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
            <body>
               <p id="demo">Javascript es uno de los lenguajes mas utilizados </p>
                <p>Javascript no me sale xq tengo que practicar </p>

            <button type="button" onclick='document.getElementById("demo").innerHTML= "Hello como estamos hoy eee"'>Click Me! </button>
            <button type="button" onclick='document.getElementById("demo").style.color= "red"'>cambiame </button>
            
            <p id="demo">practicas</p>
            <button type="button" onclick="cambiarPalabra()">cambiar</button><br>
            <script src="../js/javas1.js"></script>
            </body>
</html>