<!DOCTYPE html>
    <html lang="en-US">
        <head>
            <title>Registro</title>
            <link href="img/icono.ico" rel="shortcut icon" type="image/x-icon" />
            <link rel="stylesheet" href="../css/estilo_regis.css">
        </head>
        <body>
            <h1>Ingrese sus datos</h1>
            <form action="action_page.php">
              <label>Nombre:</label><input type="text" name="nombre" value="" > <br>   
              <label>correo:</label> <input type="email" name=" correo" value="" ><br>
              <label>correo2:</label><input type="email" name="correo2" value="" <br>
              <label>Contrase&ntildea:</label> <input type="password" name="contrasena" value="" placeholder="********"><br>
              <label>fecha de nacimiento:</label> <input type="date" name="fecha" value=""><br>
              <label>Pais:</label><input type="text"><br>
              <label >Sexo:</label> <br>
               <input type="radio" name="gender" value="masc" checked> <label> Masculino </label><br>
                 <input type="radio" name="gender" value="fem"> <label> Femenino </label><br>
                 <input type="radio" name="gender" value="otros"> <label> Otros</label><br>
             
              <label>Productos de interes</label> <br>
                  <input type="checkbox" name="gender" value="otros"> <label> Computadoras</label><br>
                  <input type="checkbox" name="gender" value="otros"> <label> Televisores</label><br>
                  <input type="checkbox" name="gender" value="otros"> <label> celulares</label><br>
                   <input type="checkbox" name="gender" value="otros"> <label> Otros</label><br>
                    <b><input type="submit" value="Guardar"></b>
            </form>
        </body>
        </html>