p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background: #D5B9E4;
}

h1{
    color: #080645;
    font-family: fantasy;
    font-size: 50;
}

.andy {
font-size: 25px;
color:  #5A1818;
font-family: 'Lucida Sans';
font-style: normal;
}

    
